body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: rgb(70, 69, 69);
    line-height: 1.9;
    background-color: #ffffff;
  }
  /* NAVIGATION */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 100;
    position: fixed;
    background-color: #ffffff;
    border: 1px solid rgb(255, 204, 204);
  }
  

  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav__item {
    margin-left: 90px;
  }
  
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #222;
  }
  
  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color: var(--color-primary-darker);
    color: #333;
  }
  
.navText{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    padding-left: 150px;
    color: rgb(70, 70, 70);
}
  
  .headerTitle {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 120px;
  
}

  .titles{
    font-size: 30px;
    text-align: center;
    padding-top: 100px;

  }
  
  .myProfile{

  width: 100%;

  }

  .error{
    color: #000000; 
    margin-top: 1px; 
    margin-bottom: 1px"
  }
  .registerForm{
    text-align: center;
    float: left;
    margin: 0% 0% 0% 34%;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;

    background-color:#FF1493 ;
    border: 1px solid rgb(255, 203, 203);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #ffffff;
    
    
    
}

  .loginForm {
    text-align: center;
    margin: 0% 0% 0% 70%;
    
    
    
  }

  .interestsForm{
    margin-left: 10%;
    float: left;
  }
  
  .updateForm {
    margin-left: 10%;
    float: left;
    
  }
  .profileOverview{
    float: left;
    margin-left: 10%;
  }
  
  

  .logo{
    height: 130px;
    width:145px;

  }
 
  .footer {
    clear: both;
    bottom:0;
    width:100%;
    height:60px;   
    
 }
 
 #userPhotos, #matchesPhotos  {
  table-layout: fixed;
  text-align: center;
  width: 100%;
}


.profilePhotos, .profilePhoto{
  height: 350px;
  width: 270px;
}
.matchPhotos{
  height: 262px;
  width: 202px;
}


.userOverview{
  
  margin: 0% 8% 0% 8%;
}


