body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: rgb(70, 69, 69);
    line-height: 1.9;
    background-color: white;
  }
  /* NAVIGATION */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 100;
    position: fixed;
    background-color: rgb(255, 180, 180);
    border: 1px solid rgb(250, 174, 174);
  }
  
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav__item {
    margin-left: 90px;
  }
  
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #222;
  }
  
  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color: var(--color-primary-darker);
    color: #333;
  }
  
.navText{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    padding-left: 150px;
    color: rgb(65, 65, 65);
}
  
  .headerTitle {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 120px;
    color: rgb(224, 99, 99);
}

  .titles{
    font-size: 30px;
    text-align: center;
    padding-top: 100px;

  }
  
  .registerForm{
    text-align: center;
    border: 1px solid #333;
    margin: 2% 35% 0% 35%;
    
}

  .loginForm {
    text-align: center;
    border: 1px solid #333;
    margin: 2% 35% 0% 35%;
    
  }

  .interestsForm{
    margin-left: 200px;
    float: left;

  }
  
  .updateForm {
    margin-left: 350px;
    float: left;
  }
  

  .bilde{
    height: 130px;
    width:145px;

  }
 
  .footer {
    clear: both;
    bottom:0;
    width:100%;
    height:60px;   
    
 }
 
 